.home {
    
    & h2 {
        display: flex;
        height: 100px;
        align-items: center;
        font-size: 30px;
    }
    & ul {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }
    & li {
        display: inline-flex;
        & a {
            opacity: 0.5;
            transition: all ease-in-out 0.3s;
        }
        & a:hover {
            opacity: 1;
        }
    }
}