.footer {
    display: flex;
    border: 1px solid var(--border);
    height: 44px;
    justify-content: center;
    align-items: center;
    & p {
        color: var(--secondary);
        font-size: 12px;
    }
}