.header {
    position: sticky;
    z-index: 1;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    padding: 0 60px;
    border: 1px solid var(--border);
    background-color: var(--bg);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1), 
                0 2px 2px rgba(0,0,0,0.1), 
                0 4px 4px rgba(0,0,0,0.1), 
                0 8px 8px rgba(0,0,0,0.1);
}
.headerNav {
        display: flex;
    & ul {
        display: flex;
        gap: 20px;
        width: 100%;
    }
    & li {
        position: relative;
        font-size: 18px;

        & i {
            position: absolute;
            background-color: red;
            width: 100%;
            height: 2px;
            left: 0;
            bottom: 0;
        }
    }
}

.themeBtn {
    display: flex;
    justify-items: center;
    align-content: center;
    width: 30px;
    height: 30px;
    background-color: var(--border);
    border-radius: 50%;
    margin-left: auto;
}