html.light {
    color-scheme: light;
    --bg: #121212;
    --text-primary: #fff; 
    ::selection {
        background-color: #0263d1;
        color: #fff;
    }
}

html.dark {
    color-scheme: dark;
    --bg: #fff;
    --text-primary: #212121;
    --text-secondary: #6e6e6e;
}

body {
    background-color: var(--bg);
    color: var(--text-primary);
}