html.light {
    color-scheme: light;
    --bg: #fff;
    --primary: #171717;
    --secondary: #212121;
    --tertiary: #666;
    --border: #eaeaea;
}

html.dark {
    color-scheme: dark;
    --bg: #121212;
    --primary: #ededed;
    --secondary: #878787;
    --tertiary: #292929;
    --border: #333;

}

body {
    background-color: var(--bg);
    color: var(--primary);
}